.profile{
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 2px;
    border-radius: 3px;
    overflow: hidden;
}

.name,
.tag,
.location{
    margin-bottom: 10px;
}

.avatar{
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.description{
    max-width: 300px;
    height: 400px;
    border-radius: 5px 5px 0 0;
    padding: 30px 40px;
    background-color: lightcyan;
}

.stats{
    display: flex;
    width: 300px;
    background-color: aliceblue;
    border-radius: 0 0 5px 5px;    

}

.stats li{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 2px;
    padding: 15px; 
}

.label{
    margin-bottom: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quantity{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    