
.avatar{
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.description{
    max-width: 400px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 30px 40px;
}

.stats{
    display: flex;
    width: 400px;
   
}

.stats li{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}