
.avatar{
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.description{
    max-width: 300px;
    height: 400px;
    border-radius: 5px 5px 0 0;
    padding: 30px 40px;
    background-color: #fff;
}

.stats{
    display: flex;
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;

}

.stats li{
    display: flex;
    flex-wrap: wrap;
    
}