.status{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    
   
}

.online{
composes: status;
background-color: green;
}

.offline{
composes: status;
background-color: red;
}

.item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: aliceblue;
    width: 300px;
    height: 80px;
    border-radius: 2px;
    margin-bottom: 5px;
    box-shadow: 0 0 2px;
    transition: transform linear 200ms, box-shadow linear 100ms;
    
}

.item:hover{
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.avatar{
margin-left: 10px;
height: 100%;
width: auto;
border: 1px solid #cfdfe6;
border-radius: 5px;
}


.name{
margin-left: 10px;
}