.statList{
    display: flex;
    justify-content: space-around;
    width: 300px;
   
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

.title{
    width: 300px;
    border-radius: 5px 5px 0 0;
    font-size: inherit;
    background-color: #fff;
}