.statList{
    display: flex;
    justify-content: space-around;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.title{
    width: 400px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: inherit;
}