
.transactionHistory{
width: 800px;
background-color: aliceblue;
border-collapse: collapse;
box-shadow: 0 0 10px;
text-align: center;
border-radius: 2px;
overflow: hidden;
}

.transactionHistory th{
    padding: 20px;
    border-right: 1px solid white;
    background-color: lavender;
}

.transactionHistory th:last-child{
    border-right: none;
}

.transactionHistory td {
    padding: 10px;
    text-transform: capitalize;
    border-right: 1px solid white;
   
}
.transactionHistory td:last-child{
    border-right: none;
}


.transactionHistory tr:nth-child(2n){
    background-color: lightgrey;
}


.transactionHistory tr:hover{
    background-color: lightgoldenrodyellow;
}