.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.item:last-child{
    border-radius: 0 0 5px 0;
}

.item:first-child{
    border-radius: 0 0 0 5px;
}

.item2 {
    background-color: red;
}

.label{
    font-size: 20px;
}

